body{
    margin: 0;
}

.cv{
    max-width: 800px;
    margin: 20px auto;
    padding: 40px;
}

header{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

header img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

header h1, p{
    margin: 0;
}

.header__item{
    width: 100%;
    font-family: sans-serif;
    background-color: #d5dee6;
    padding: 20px 20px 20px 60px;
    border-radius: 20px;
}